#{extends 'layout.html' /}

<div class="objectForm">
#{form @approval(berthing?.id)}
	
	<p>
		#{field 'vessel'}
		<label>Vessel : </label>
		<label>${berthing?.vessel?.name}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'voyage'}
		<label>Voyage : </label>
		<label>${berthing?.voyage}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'port'}
		<label>Port : </label>
		<label>${berthing?.port?.name}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'customer'}
		<label>Customer : </label>
		<label>${berthing?.customer?.name}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
        #{field 'ata'}
        <label>Actual Time Arrival :</label>
        <label>${berthing?.berthing?.ata?.format('yyyy-MM-dd')}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'etd'}
        <label>Estimate Time Departure :</label>
        <label>${berthing?.berthing?.etd?.format('yyyy-MM-dd')}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'berthTugIn'}
        <label>Estimate Tug in duration :</label>
        <label>${berthing?.berthing?.berthTugIn}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'cargo'}
        <label>Cargo Name :</label>
        <label>${berthing?.berthing?.cargo}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'cargoWeight'}
        <label>Cargo Weight :</label>
        <label>${berthing?.berthing?.cargoWeight}</label>
        <br/>
        #{/field}
    </p>
    
    <div class="crudField crud_text">
		<table id="charges">
			<thead>
				<tr>
					<th>Charges</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tr>
				<td>Harbour dues</td>
				<td class="port-cost">${berthing?.berthing?.harbor}</td>
			</tr>
			<tr>
				<td>Quay dues</td>
				<td class="port-cost">${berthing?.berthing?.queue}</td>
			</tr>
			<tr>
				<td>Pilot dues</td>
				<td class="port-cost">${berthing?.berthing?.pilot}</td>
			</tr>
			<tr>
				<td>Tug dues</td>
				<td class="port-cost">${berthing?.berthing?.tug}</td>
			</tr>
			<tr>
				<td>Light dues</td>
				<td class="port-cost">${berthing?.berthing?.light}</td>
			</tr>
			<tr>
				<td>Government Tax</td>
				<td class="port-cost">${berthing?.berthing?.gnt}</td>
			</tr>
			<tr>
				<td class="total-line">Subtotal</td>
	            <td class="total-value"><div id="subtotal-port">0</div></td>
			</tr>
		</table>
	</div>
	
	#{field 'additional'}
    <label>Additional Charges</label>
	<div id="crudListTable">
		<table id="dataTable" border="0">
        <thead>
        	<tr>
				<th>Charges</th>
				<th>Cost</th>
			</tr>
        </thead>	
	        #{list items:berthing?.booking?.additional, as:'additional'}
			<tr class="item-row">
				<td>${additional?.name}</td>
				<td><span class="add-cost">${additional?.cost}</span></td>
			</tr>
	        #{/list}
		<tr>
            <td class="total-line">Subtotal</td>
            <td class="total-value"><div id="subtotal">0</div></td>
        </tr>
	</table>
	</div>
    #{/field}
	
	<p>
    	<input type="hidden" name="status" value="${berthing.status}">
    </p>
    
	<p class="crudButtons">
        <input type="submit" name="approve" value="Approve" />
		<input type="submit" name="reject" value="Reject" />
    </p>

#{/form}
</div>




