#{extends 'layout.html' /}

<div class="objectForm">
#{form @approval(booking?.id)}

	<p>
        #{field 'vessel'}
        <label>Vessel:</label>
        <label>${booking?.vessel?.name}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'voyage'}
        <label>Name:</label>
        <label>${booking?.voyage}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'port'}
        <label>Port:</label>
        <label>${booking?.port?.name}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'customer'}
        <label>Customer:</label>
        <label>${booking?.customer?.name}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'agent'}
        <label>Agent:</label>
        <label>${booking?.agent?.name}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'statusAgent'}
        <label>Agent Status:</label>
        <label>${booking?.statusAgent}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'subAgent'}
        <label>Agent:</label>
        <label>${booking?.subAgent?.name}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'eta'}
        <label>Estimate Time Arrival:</label>
        <label>${booking?.booking?.eta?.format('yyyy-MM-dd')}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'etd'}
        <label>Estimate Time Departure:</label>
        <label>${booking?.booking?.etd?.format('yyyy-MM-dd')}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'bookTugIn'}
        <label>Estimate Tug in duration:</label>
        <label>${booking?.booking?.bookTugIn}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'bookTugOut'}
        <label>Estimate Tug out duration:</label>
        <label>${booking?.booking?.bookTugOut}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'cargo'}
        <label>Cargo Name:</label>
        <label>${booking?.booking?.cargo}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'cargoWeight'}
        <label>Cargo Weight:</label>
        <label>${booking?.booking?.cargoWeight}</label>
        <br/>
        #{/field}
    </p>
	
	<div class="crudField crud_text">
		<table id="charges">
			<thead>
				<tr>
					<th>Charges</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tr>
				<td>Harbour dues</td>
				<td class="port-cost">${booking?.booking?.harbor}</td>
			</tr>
			<tr>
				<td>Quay dues</td>
				<td class="port-cost">${booking?.booking?.queue}</td>
			</tr>
			<tr>
				<td>Pilot dues</td>
				<td class="port-cost">${booking?.booking?.pilot}</td>
			</tr>
			<tr>
				<td>Tug dues</td>
				<td class="port-cost">${booking?.booking?.tug}</td>
			</tr>
			<tr>
				<td>Light dues</td>
				<td class="port-cost">${booking?.booking?.light}</td>
			</tr>
			<tr>
				<td>Government Tax</td>
				<td class="port-cost">${booking?.booking?.gnt}</td>
			</tr>
			<tr>
				<td class="total-line">Subtotal</td>
	            <td class="total-value"><div id="subtotal-port">0</div></td>
			</tr>
		</table>
	</div>
	
	#{field 'additional'}
    <label>Additional Charges</label>
	<div id="crudListTable">
		<table id="dataTable" border="0">
        <thead>
        	<tr>
				<th>Charges</th>
				<th>Cost</th>
			</tr>
        </thead>	
	        #{list items:booking?.booking?.additional, as:'additional'}
			<tr class="item-row">
				<td>${additional?.name}</td>
				<td><span class="add-cost">${additional?.cost}</span></td>
			</tr>
	        #{/list}
		<tr>
            <td class="total-line">Subtotal</td>
            <td class="total-value"><div id="subtotal">0</div></td>
        </tr>
	</table>
	</div>
    #{/field}
    
    <p>
    	<input type="hidden" name="status" value="${booking.status}">
    </p>
    
	<p class="crudButtons">
        <input type="submit" name="approve" value="Approve" />
		<input type="submit" name="reject" value="Reject" />
    </p>

#{/form}
</div>




