#{extends 'CRUD/layout.html' /}


<div class="objectForm">
#{form @save(port?.id)}

	<h2>Port</h2>

	#{field 'code'}
	<div class="crudField crud_${field.type}">  
        <label>Code</label>
        <input type="text" name="${field.name}" 
            value="${port?.code}" class="${field.errorClass}" /> 
    </div>
    #{/field}
	
	#{field 'name'}
	<div class="crudField crud_${field.type}">
        <label>Name</label>
        <input type="text" name="${field.name}" 
            value="${port?.name}" class="${field.errorClass}" />
    </div>
    #{/field}
    
    #{field 'info'}
	<div class="crudField crud_${field.type}">
        <label>Info</label>
        <textarea cols="48" rows="5" name="${field.name}">${port?.info}</textarea>
    </div>
    #{/field}
    
	#{field 'type'}
	<div class="crudField crud_${field.type}">
        <label>Type</label>
        #{select 'type', value:port?.costtariff?.type, id:'select1'}
			#{option 'A'}A#{/option}
			#{option 'B'}B#{/option}
		#{/select}
    </div>
    #{/field}
	
	#{field 'harbour'}
	<div class="crudField crud_${field.type}">
        
        <label>Harbour Tariff</label>
        <input type="text" name="${field.name}" 
            value="${port?.costtariff?.harbour}" class="${field.errorClass}" />
    </div>
    #{/field}
	
	#{field 'quay'}
	<div class="crudField crud_${field.type}">    
        <label>Quay Tariff</label>
        <input type="text" name="${field.name}" 
            value="${port?.costtariff?.quay}" class="${field.errorClass}" />        
    </div>
    #{/field}
	
	#{field 'pilotfix'}
	<div class="crudField crud_${field.type}"> 
        <label>Pilot Fix Tariff</label>
        <input type="text" name="${field.name}" 
            value="${port?.costtariff?.pilotfix}" class="${field.errorClass}" />
    </div>
    #{/field}
	
	#{field 'pilotvar'}
	<div class="crudField crud_${field.type}">
        <label>Pilot Var Tariff</label>
        <input type="text" name="${field.name}" 
            value="${port?.costtariff?.pilotvar}" class="${field.errorClass}" />
    </div>
    #{/field}
	
	#{field 'light'}
	<div class="crudField crud_${field.type}">
        <label>Light Tariff</label>
        <input type="text" name="${field.name}" 
            value="${port?.costtariff?.light}" class="${field.errorClass}" />
    </div>
    #{/field}
    
    #{field 'tug'}    
    <div class="crudField">
        <label>Tug Tariff</label>
        <div class="buttons">
	        <input id="addbutton" type="button" value="Add Row" />
        </div>
		<div id="crudListTable">
			<table id="dataTable" border="0">
			<thead>
	        	<tr>
					<th>Minimum GRT</th>
					<th>Maximum GRT</th>
					<th>Fix Tariff</th>
					<th>Variable Tariff</th>
				</tr>
	        </thead>
		        #{list items:port?.costtariff?.tug, as:'tug'}
				<tr class="item-row">
					<td><div class="delete-wpr"><input type="text" name='tug[${tug_index - 1}].minimum' value="${tug?.minimum}" class="${field.errorClass}" /><a href="javascript:;" class="delete">x</a></div></td>
					<td><input type="text" name='tug[${tug_index - 1}].maximum' value="${tug?.maximum}" class="${field.errorClass}" /></td>
					<td><input type="text" name='tug[${tug_index - 1}].fixed' value="${tug?.fixed}" class="${field.errorClass}" /></td>
					<td><input type="text" name='tug[${tug_index - 1}].var' value="${tug?.var}" class="${field.errorClass}" /></td>
				</tr>
		        #{/list}
				#{else}
					#{list items:0..0, as:'i'}
					<tr class="item-row">
						<td><div class="delete-wpr"><input type="text" name='tug[${i}].minimum' value="${tug?.minimum}" class="${field.errorClass}" /><a href="javascript:;" class="delete">x</a></div></td>
						<td><input type="text" name='tug[${i}].maximum' value="${tug?.maximum}" class="${field.errorClass}" /></td>
						<td><input type="text" name='tug[${i}].fixed' value="${tug?.fixed}" class="${field.errorClass}" /></td>
						<td><input type="text" name='tug[${i}].var' value="${tug?.var}" class="${field.errorClass}" /></td>
					</tr>
					#{/list}
				#{/else}
			</table>
		</div>
    </div>
    #{/field}
    
    <p class="buttons">
			<input type="submit" name="_save" value="Save" />
			<input type="submit" name="_saveAndContinue" value="Save and continue editing" />
			<input type="submit" name="_saveAndAddAnother" value="Save and add another" />
	</p>

#{/form}
</div>

<!-- JS -->
<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/addtablerow-jq-port.js'}"></script>




