<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <style type="text/css">
	table {
		border: 1px solid #cccccc;
		border-collapse: collapse;
	}
	tr, th, td {
		border: 1px solid #cccccc;
	}
	.align-right {
		text-align: right;
		padding-right: 10px;
	}
    </style>
</head>
<body>
Dear ${operational.vessel.owner.pic},<br/>
Herewith quotation from your request : 
<br/>
<br/>
<table>
	<tr>
		<td><strong>Port</strong></td><td>${operational.port.name}</td>
	</tr>
	<tr>
		<td><strong>Vessel</strong></td><td>${operational.vessel.name}</td>
	</tr>
	<tr>
		<td><strong>Load</strong></td><td>${operational.booking.cargo}</td>
	</tr>
	<tr>
		<td><strong>GRT</strong></td><td>${operational.vessel.grt}</td>
	</tr>
</table>
<br/>
<table>
	<tr>
		<th>No.</th>
		<th>Items</th>
		<th>Price (in USD)</th>
	</tr>
	<tr>
		<td>1.</td>
		<td>Harbour dues</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>${operational.vessel.grt} GRT x ${operational.port.costtariff.harbour}</td>
		<td class="align-right">${operational.booking.harbor?.format('##,###.00')}</td>		
	</tr>
	<tr>
		<td>2.</td>
		<td>Quay dues</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>${operational.vessel.grt} GRT x ${operational.port.costtariff.quay} x ${operational.booking.quay}</td>
		<td class="align-right">${operational.booking.queue?.format('##,###.00')}</td>		
	</tr>
	<tr>
		<td>3.</td>
		<td>Pilotage in/out</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>((${operational.vessel.grt} GRT x ${operational.port.costtariff.pilotvar}) + ${operational.port.costtariff.pilotfix}) x 2</td>
		<td class="align-right">${operational.booking.pilot?.format('##,###.00')}</td>		
	</tr>
	<tr>
		<td>4.</td>
		<td>Tug Assist for berth/unberth</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>((${operational.vessel.grt} GRT x ${operational.tugvar}) + ${operational.tugfix}) * (${operational.booking.bookTugIn} + ${operational.booking.bookTugOut})</td>
		<td class="align-right">${operational.booking.tug?.format('##,###.00')}</td>		
	</tr>
	<tr>
		<td></td>
		<td>Total</td>
		<td class="align-right">${(operational.booking.gnt * 10).format('##,###.00')}</td>		
	</tr>
	<tr>
		<td>5.</td>
		<td>Surcharge 10%</td>
		<td class="align-right">${operational.booking.gnt?.format('##,###.00')}</td>
		#{set subtotal1: operational.booking.harbor + operational.booking.queue + operational.booking.pilot + operational.booking.tug + operational.booking.gnt + operational.booking.light /} 		
	</tr>
	<tr>
		<td>6.</td>
		<td>Light dues</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>${operational.vessel.grt} GRT x ${operational.port.costtariff.light}</td>
		<td class="align-right">${operational.booking.light?.format('##,###.00')}</td>		
	</tr>
	#{set subtotal2: 0 /}
	#{list items:operational?.booking?.additional, as:'additional'}
	<tr>
		<td>${additional_index - 6}</td>
		<td>${additional?.name}</td>
		<td class="align-right">${additional?.cost?.format('##,###.00')}</td>
		#{subtotal2: subtotal2 + additional.cost /}	
	</tr>
    #{/list}
	<tr>
		<td></td>
		<td>Total</td>
		<td class="align-right">${subtotal2?.format('##,###.00')}</td>		
	</tr>
	<tr>
		<td></td>
		<td>Grand Total</td>
		#{set subtotal3: subtotal2 + subtotal1 /}
		<td class="align-right">${subtotal3.format('##,###.00')}</td>		
	</tr>
</table>
<br/>
Noted.
<ul>
	<li>Harbour, light, quay, pilotage, tuggage dues are charged based on Government tariff accompanied by official receipt</li>
	<li>Harbour dues will be charged on every ten days basis at port</li>
	<li>Light dues will be charged on call basis</li>
	<li>Quay dues will be charged on daily basis</li>
	<li>Pilot dues will be charged on movement basis</li>
	<li>Tug dues will be charged per movement/hour basis</li>
	<li>Clearences, sundries, permit, communication costs will be charged at cost</li>
	<li>Figures we have given are only estimates</li>
</ul>

</body>
</html>