<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <style type="text/css">
	table {
		border: 1px solid #cccccc;
		border-collapse: collapse;
	}
	tr, th, td {
		border: 1px solid #cccccc;
	}
    </style>
</head>
<body>
Dear #{receiver.pic},<br/>
Herewith quotation from your request : 
<br/>
<table>
	<tr>
		<td>Vessel :</td><td><strong>KM MT Jade</strong></td>
	</tr>
	<tr>
		<td>Load :</td><td>MT Coal in Bulk</td>
	</tr>
	<tr>
		<td>GRT :</td><td>42707</td>
	</tr>
</table>
<br/>
<table>
	<tr>
		<th>No.</th>
		<th>Items</th>
		<th>Price (in USD)</th>
	</tr>
	<tr>
		<td>1.</td>
		<td>Harbour dues</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>42707 GRT x 0.084</td>
		<td>3587.39</td>		
	</tr>
	<tr>
		<td>2.</td>
		<td>Quay dues</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>42707 GRT x 0.101 x 2</td>
		<td>8626.81</td>		
	</tr>
	<tr>
		<td>3.</td>
		<td>Pilotage in/out</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>42707 GRT x 0.084</td>
		<td>3587.39</td>		
	</tr>
	<tr>
		<td>4.</td>
		<td>Tug Assist for berth/unberth</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>42707 GRT x 0.084</td>
		<td>3587.39</td>		
	</tr>
	<tr>
		<td></td>
		<td>Total</td>
		<td>33800.76</td>		
	</tr>
	<tr>
		<td>5.</td>
		<td>Surcharge 10%</td>
		<td>3380.07</td>		
	</tr>
	<tr>
		<td>6.</td>
		<td>Light dues</td>
		<td></td>		
	</tr>
	<tr>
		<td></td>
		<td>42707 GRT x 0.034</td>
		<td>1452.04</td>		
	</tr>
	<tr>
		<td>7.</td>
		<td>Our Agency fee (excluding VAT)</td>
		<td>1500</td>		
	</tr>
	<tr>
		<td></td>
		<td>VAT 10%</td>
		<td>150</td>		
	</tr>
	<tr>
		<td></td>
		<td>Total</td>
		<td>11288.19</td>		
	</tr>
	<tr>
		<td></td>
		<td>Grand Total</td>
		<td>45168.94</td>		
	</tr>
</table>
<br/>
Noted.
<ul>
	<li>Harbour, light, quay, pilotage, tuggage dues are charged based on Government tariff accompanied by official receipt</li>
	<li>Harbour dues will be charged on every ten days basis at port</li>
	<li>Light dues will be charged on call basis</li>
	<li>Quay dues will be charged on daily basis</li>
	<li>Pilot dues will be charged on movement basis</li>
	<li>Tug dues will be charged per movement/hour basis</li>
	<li>Clearences, sundries, permit, communication costs will be charged at cost</li>
	<li>Figures we have given are only estimates</li>
</ul>

</body>
</html>