#{extends 'layout.html' /}

<div class="objectForm">
#{form @save(booking?.id)}

	<h2>Fill Booking Data</h2>
	
	<fieldset><legend>Booking data</legend>
		<div class="crudField crud_relation">
	        #{field 'vessel'}
	        <label>Vessel</label>
			#{select 'vesselId', items:vessels, valueProperty:'id', labelProperty:'name', value:booking?.vessel?._id /}
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'voyage'}
	        <label>Voyage</label>
	        <input type="text" name="${field.name}" 
	            value="${booking?.voyage}" class="${field.errorClass}" />
	        #{/field}
	    </div>
		
		<div class="crudField crud_relation">
	        #{field 'port'}
	        <label>Port</label>
			#{select 'portId', items:ports, valueProperty:'id', labelProperty:'name', value:booking?.port?._id /}
	        #{/field}
	    </div>
		
		<div class="crudField crud_relation">
	        #{field 'customer'}
	        <label>Customer</label>
			#{select 'customerId', items:customers, valueProperty:'id', labelProperty:'name', value:booking?.customer?._id /}
	        #{/field}
	    </div>
		
		<div class="crudField crud_relation">
	        #{field 'agent'}
	        <label>Agent</label>
			#{select 'agentId', items:agents, valueProperty:'id', labelProperty:'name', value:booking?.agent?._id /}
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'statusAgent'}
	        <label>Agent Status</label>
	        #{select 'statusAgent', value:booking?.statusAgent, id:'select1'}
				#{option 'General'}General Agent#{/option}
				#{option 'Protecting'}Protecting Agent#{/option}
			#{/select}
			#{/field}
	    </div>
		
		<div class="crudField crud_relation">
	        #{field 'subAgent'}
	        <label>Sub agent</label>
			#{select 'subAgentId', items:agents, valueProperty:'id', labelProperty:'name', value:booking?.subAgent?._id /}
	        #{/field}
	    </div>
    </fieldset>
	
	<fieldset><legend>Activity Data</legend>
		<div class="crudField crud_text">
	        #{field 'eta'}
	        <label>Estimate Time Arrival</label>
	        <input type="text" name="${field.name}" 
	            value="${booking?.booking?.eta?.format('yyyy-MM-dd')}" class="jdate" />
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'etd'}
	        <label>Estimate Time Departure</label>
	        <input type="text" name="${field.name}" 
	            value="${booking?.booking?.etd?.format('yyyy-MM-dd')}" class="jdate" />
	        #{/field}
	    </div>
	    
	    <div class="crudField crud_text">
	        #{field 'quay'}
	        <label>Quay time</label>
	        <input type="text" name="${field.name}" 
	            value="${booking?.booking?.quay}" class="${field.errorClass}" />
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'bookTugIn'}
	        <label>Estimate Tug (in)</label>
	        <input type="text" name="${field.name}" 
	            value="${booking?.booking?.bookTugIn}" class="${field.errorClass}" />
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'bookTugOut'}
	        <label>Estimate Tug (out)</label>
	        <input type="text" name="${field.name}" 
	            value="${booking?.booking?.bookTugOut}" class="${field.errorClass}" />
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'cargo'}
	        <label>Cargo Name</label>
	        <input type="text" name="${field.name}" 
	            value="${booking?.booking?.cargo}" class="${field.errorClass}" />
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'cargoWeight'}
	        <label>Cargo Weight</label>
	        <input type="text" name="${field.name}" 
	            value="${booking?.booking?.cargoWeight}" class="${field.errorClass}" />
	        #{/field}
	    </div>
    </fieldset>
	
	<fieldset><legend>Charges</legend>
		<div class="crudField crud_text">
			<div class="buttons">
				<input type="submit" name="calculate" value="Calculate" />
			</div>
			<table id="charges">
				<thead>
					<tr>
						<th>Charges</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tr>
					<td>Harbour dues</td>
					<td class="port-cost">${booking?.booking?.harbor}</td>
				</tr>
				<tr>
					<td>Quay dues</td>
					<td class="port-cost">${booking?.booking?.queue}</td>
				</tr>
				<tr>
					<td>Pilot dues</td>
					<td class="port-cost">${booking?.booking?.pilot}</td>
				</tr>
				<tr>
					<td>Tug dues</td>
					<td class="port-cost">${booking?.booking?.tug}</td>
				</tr>
				<tr>
					<td>Light dues</td>
					<td class="port-cost">${booking?.booking?.light}</td>
				</tr>
				<tr>
					<td>Government Tax</td>
					<td class="port-cost">${booking?.booking?.gnt}</td>
				</tr>
				<tr>
					<td class="total-line">Subtotal</td>
		            <td class="total-value"><div id="subtotal-port">0</div></td>
				</tr>
			</table>
		</div>
	</fieldset>
	
	<fieldset><legend>Additional Charges</legend>
		<div class="crudField crud_text">
	        #{field 'additional'}
	        <div class="buttons">
		        <input id="addbutton" type="button" value="Add Row" />
		        <input id="calculate" type="button" value="Calculate" />
	        </div>
			<div id="crudListTable">
				<table id="dataTable" border="0">
		        <thead>
		        	<tr>
						<th>Charges</th>
						<th>Cost</th>
					</tr>
		        </thead>	
			        #{list items:booking?.booking?.additional, as:'additional'}
					<tr class="item-row">
						<td><div class="delete-wpr"><input type="text" name='additional[${additional_index - 1}].name' value="${additional?.name}" class="${field.errorClass}" /><a href="javascript:;" class="delete">x</a></td>
						<td><input type="text" name='additional[${additional_index - 1}].cost' value="${additional?.cost}" class="add-cost" /></td>
					</tr>
			        #{/list}
					#{else}
						#{list items:0..0, as:'i'}
						<tr class="item-row">
							<td><div class="delete-wpr"><input type="text" name='additional[${i}].name' value="${additional?.name}" class="add-name" /><a href="javascript:;" class="delete">x</a></td>
							<td><input type="text" name='additional[${i}].cost' value="${additional?.cost}" class="add-cost" /></td>
						</tr>
						#{/list}
					#{/else}
					<tr>
			            <td class="total-line">Subtotal</td>
			            <td class="total-value"><div id="subtotal">0</div></td>
			        </tr>
			        <tr>
			        	<td class="total-line">Total</td>
			        	<td class="total-value"><div id="total">0</div></td>
			        </tr>
				</table>
		        #{/field} 
			</div>
	    </div>
	</fieldset>
    
	<div class="buttons">
		<input type="submit" name="save" value="Save" />
    </div>

#{/form}
</div>

<!-- JS -->
<script type="text/javascript" src="@{'/public/javascripts/addtablerow-jq-ops.js'}"></script>






