#{extends 'layout.html' /}

<div class="objectForm">
#{form @save(berthing?.id)}
	
	<p>
		#{field 'vessel'}
		<label>Vessel : </label>
		<label>${berthing?.vessel?.name}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'voyage'}
		<label>Voyage : </label>
		<label>${berthing?.voyage}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'port'}
		<label>Port : </label>
		<label>${berthing?.port?.name}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'customer'}
		<label>Customer : </label>
		<label>${berthing?.customer?.name}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
        #{field 'ata'}
        <label>Actual Time Arrival :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.ata?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
        #{/field}
    </p>
	
	<p>
        #{field 'etd'}
        <label>Estimate Time Departure :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.etd?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
        #{/field}
    </p>
	
	<p>
        #{field 'berthTugIn'}
        <label>Estimate Tug in duration :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.berthTugIn}" class="${field.errorClass}" />
        #{/field}
    </p>
	
	<p>
        #{field 'cargo'}
        <label>Cargo Name :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.cargo}" class="${field.errorClass}" />
        #{/field}
    </p>
	
	<p>
        #{field 'cargoWeight'}
        <label>Cargo Weight :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.cargoWeight}" class="${field.errorClass}" />
        #{/field}
    </p>
		
	<p>
		#{field 'harbor'}
		<label>Harbor dues : </label>
		<label>${berthing?.berthing?.harbor}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'queue'}
		<label>Queue dues : </label>
		<label>${berthing?.berthing?.queue}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'pilot'}
		<label>Pilot dues : </label>
		<label>${berthing?.berthing?.pilot}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'tug'}
		<label>Tug dues : </label>
		<label>${berthing?.berthing?.tug}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'light'}
		<label>Light dues : </label>
		<label>${berthing?.berthing?.light}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'gnt'}
		<label>Government Tax : </label>
		<label>${berthing?.berthing?.gnt}</label>
		<br/>
		#{/field}
	</p>
    
	<p class="crudButtons">
        <input type="submit" name="calculate" value="Calculate" />
		<input type="submit" name="save" value="Save" />
    </p>

#{/form}
</div>




