#{extends 'layout.html' /}
<script src="@{'/public/javascripts/addtablerow-ops.js'}" type="text/javascript" charset="utf-8"></script>

<div class="objectForm">
#{form @save(berthing?.id)}
	
	<div class="crudField crud_text">
		#{field 'vessel'}
		<label>Vessel : </label>
		<label>${berthing?.vessel?.name}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'voyage'}
		<label>Voyage : </label>
		<label>${berthing?.voyage}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'port'}
		<label>Port : </label>
		<label>${berthing?.port?.name}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'customer'}
		<label>Customer : </label>
		<label>${berthing?.customer?.name}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
        #{field 'ata'}
        <label>Actual Time Arrival :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.ata?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'etd'}
        <label>Estimate Time Departure :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.etd?.format('yyyy-MM-dd')}" class="${field.errorClass}" />
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'berthTugIn'}
        <label>Estimate Tug in duration :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.berthTugIn}" class="${field.errorClass}" />
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'cargo'}
        <label>Cargo Name :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.cargo}" class="${field.errorClass}" />
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'cargoWeight'}
        <label>Cargo Weight :</label>
        <input type="text" name="${field.name}" 
            value="${berthing?.berthing?.cargoWeight}" class="${field.errorClass}" />
        #{/field}
    </div>
		
	<div class="crudField crud_text">
		#{field 'harbor'}
		<label>Harbor dues : </label>
		<label>${berthing?.berthing?.harbor}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'queue'}
		<label>Queue dues : </label>
		<label>${berthing?.berthing?.queue}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'pilot'}
		<label>Pilot dues : </label>
		<label>${berthing?.berthing?.pilot}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'tug'}
		<label>Tug dues : </label>
		<label>${berthing?.berthing?.tug}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'light'}
		<label>Light dues : </label>
		<label>${berthing?.berthing?.light}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'gnt'}
		<label>Government Tax : </label>
		<label>${berthing?.berthing?.gnt}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
        #{field 'additional'}
        <label>Additional Charges:</label>
        <input type="button" value="Add Row" onclick="addRow('dataTable')" />
		<input type="button" value="Delete Row" onclick="deleteRow('dataTable')" /><br />
		<div id="crudListTable">
		    <table id="dataTable" border="0">
		    <thead>
			    <tr>
			    	<th>Delete</th>
					<th>Charges</th>
					<th>Date</th>
					<th>Cost</th>
				</tr>
		    </thead>
		        #{list items:berthing?.booking?.additional, as:'additional'}
				<tr>
					<td><input type="checkbox" /></td>
					<td><input type="text" name='additional[${additional_index - 1}].name' value="${additional?.name}" class="${field.errorClass}" /></td>
					<td><input type="text" name='additional[${additional_index - 1}].date' value="${additional?.date?.format('yyyy-MM-dd')}" class="${field.errorClass}" /></td>
					<td><input type="text" name='additional[${additional_index - 1}].cost' value="${additional?.cost}" class="${field.errorClass}" /></td>
				</tr>
		        #{/list}
				#{else}
					#{list items:0..0, as:'i'}
					<tr>
						<td><input type="checkbox" /></td>
						<td><input type="text" name='additional[${i}].name' value="${additional?.name}" class="${field.errorClass}" /></td>
						<td><input type="text" name='additional[${i}].date' value="${additional?.date?.format('yyyy-MM-dd')}" class="${field.errorClass}" /></td>
						<td><input type="text" name='additional[${i}].cost' value="${additional?.cost}" class="${field.errorClass}" /></td>
					</tr>
					#{/list}
				#{/else}
			</table>
	        #{/field} 
		</div>
    </div>
    
	<p class="crudButtons">
        <input type="submit" name="calculate" value="Calculate" />
		<input type="submit" name="save" value="Save" />
    </p>

#{/form}
</div>




