#{extends 'CRUD/layout.html' /}

<div id="crudList">
	
	<h1>Berthing</h1>
	<table id="crudList">
		<thead>
			<th>Booking Number</th>
			<th>Vessel</th>
			<th>Voyage</th>
			<th>Customer</th>
		</thead>
		#{list items:berthings, as:'berthing'}
		    <tr>
		        <td><a href="@{Berthings.form(berthing.id)}">${berthing.id}</a></td>
		        <td><a href="@{Berthings.form(berthing.id)}">${berthing.vessel.name}</a></td>
		        <td><a href="@{Berthings.form(berthing.id)}">${berthing.voyage}</a></td>
		        <td><a href="@{Berthings.form(berthing.id)}">${berthing.customer.name}</a></td>
		    </tr>
		#{/list}
	</table>

</div>