#{extends 'layout.html' /}

<div class="objectForm">
#{form @save(finalcharge?.id)}

	<h2>Final Charge</h2>
	
	<fieldset><legend>Booking data</legend>
		<div class="crudField crud_text">
			#{field 'vessel'}
			<label>Vessel</label>
			<label>${finalcharge?.vessel?.name}</label>
			<br/>
			#{/field}
		</div>
		
		<div class="crudField crud_text">
			#{field 'voyage'}
			<label>Voyage</label>
			<label>${finalcharge?.voyage}</label>
			<br/>
			#{/field}
		</div>
		
		<div class="crudField crud_text">
			#{field 'port'}
			<label>Port</label>
			<label>${finalcharge?.port?.name}</label>
			<br/>
			#{/field}
		</div>
		
		<div class="crudField crud_text">
			#{field 'customer'}
			<label>Customer</label>
			<label>${finalcharge?.customer?.name}</label>
			<br/>
			#{/field}
		</div>
	</fieldset>
	
	<fieldset><legend>Activity data</legend>
		<div class="crudField crud_text">
	        #{field 'ata'}
	        <label>Actual Time Arrival</label>
	        <label>${finalcharge?.berthing?.ata?.format('yyyy-MM-dd')}</label>
	        <br/>
	        #{/field}
	    </div>
	    
	    <div class="crudField crud_text">
	        #{field 'atd'}
	        <label>Actual Time Departure</label>
	        <label>${finalcharge?.departure?.atd?.format('yyyy-MM-dd')}</label>
	        <br/>
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'actualTugIn'}
	        <label>Actual Tug in duration</label>
	        <input type="text" name="${field.name}" 
	            value="${finalcharge?.finalCharge?.actualTugIn}" class="${field.errorClass}" />
	        #{/field}
	    </div>
	    
	    <div class="crudField crud_text">
	        #{field 'actualTugOut'}
	        <label>Actual Tug out duration</label>
	        <input type="text" name="${field.name}" 
	            value="${finalcharge?.finalCharge?.actualTugOut}" class="${field.errorClass}" />
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'cargo'}
	        <label>Cargo Name</label>
	        <input type="text" name="${field.name}" 
	            value="${finalcharge?.finalCharge?.cargo}" class="${field.errorClass}" />
	        #{/field}
	    </div>
		
		<div class="crudField crud_text">
	        #{field 'cargoWeight'}
	        <label>Cargo Weight</label>
	        <input type="text" name="${field.name}" 
	            value="${finalcharge?.finalCharge?.cargoWeight}" class="${field.errorClass}" />
	        #{/field}
	    </div>
    </fieldset>
	
	<fieldset><legend>Charges</legend>
		<div class="crudField crud_text">
			<div class="buttons">
				<input type="submit" name="calculate" value="Calculate" />
			</div>
			<table id="charges">
				<thead>
					<tr>
						<th>Charges</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tr>
					<td>Harbour dues</td>
					<td class="port-cost align-right">${finalcharge?.finalCharge?.harbor?.format('## ###.00')}</td>
				</tr>
				<tr>
					<td>Quay dues</td>
					<td class="port-cost align-right">${finalcharge?.finalCharge?.queue?.format('## ###.00')}</td>
				</tr>
				<tr>
					<td>Pilot dues</td>
					<td class="port-cost align-right">${finalcharge?.finalCharge?.pilot?.format('## ###.00')}</td>
				</tr>
				<tr>
					<td>Tug dues</td>
					<td class="port-cost align-right">${finalcharge?.finalCharge?.tug?.format('## ###.00')}</td>
				</tr>
				<tr>
					<td>Light dues</td>
					<td class="port-cost align-right">${finalcharge?.finalCharge?.light?.format('## ###.00')}</td>
				</tr>
				<tr>
					<td>Government Tax</td>
					<td class="port-cost align-right">${finalcharge?.finalCharge?.gnt?.format('## ###.00')}</td>
				</tr>
				<tr>
					<td class="total-line">Subtotal</td>
		            <td class="total-value align-right"><span id="subtotal-port">0</span></td>
				</tr>
			</table>
		</div>
	</fieldset>
	
	<fieldset><legend>Additional Charges</legend>
		<div class="crudField crud_text">
	        #{field 'additional'}
	        <div class="buttons">
		        <input id="addbutton" type="button" value="Add Row" />
		        <input id="calculate" type="button" value="Calculate" />
	        </div>
			<div id="crudListTable">
				<table id="dataTable" border="0">
		        <thead>
		        	<tr>
						<th>Charges</th>
						<th>Cost</th>
					</tr>
		        </thead>	
			        #{list items:finalcharge?.booking?.additional, as:'additional'}
					<tr class="item-row">
						<td><span class="delete-wpr"><input type="text" name='additional[${additional_index - 1}].name' value="${additional?.name}" class="${field.errorClass}" /><a href="javascript:;" class="delete">x</a></span></td>
						<td><input type="text" name='additional[${additional_index - 1}].cost' value="${additional?.cost}" class="add-cost" /></td>
					</tr>
			        #{/list}
					#{else}
						#{list items:0..0, as:'i'}
						<tr class="item-row">
							<td><span class="delete-wpr"><input type="text" name='additional[${i}].name' value="${additional?.name}" class="add-name" /><a href="javascript:;" class="delete">x</a></span></td>
							<td><input type="text" name='additional[${i}].cost' value="${additional?.cost}" class="add-cost" /></td>
						</tr>
						#{/list}
					#{/else}
					<tr>
			            <td class="total-line">Subtotal</td>
			            <td class="total-value"><span id="subtotal">0</span></td>
			        </tr>
			        <tr>
			        	<td class="total-line">Total</td>
			        	<td class="total-value"><span id="total">0</span></td>
			        </tr>
				</table>
		        #{/field} 
			</div>
	    </div>
	</fieldset>
	<div style="clear:both"></div>
	
	<div class="buttons">
		<input type="submit" name="save" value="Save and Submit for Approval" />
    </div>

#{/form}
</div>

<!-- JS -->
<script type="text/javascript" src="@{'/public/javascripts/addtablerow-jq-ops.js'}"></script>




