#{extends 'layout.html' /}
<script src="@{'/public/javascripts/addtablerow-ops.js'}" type="text/javascript" charset="utf-8"></script>

<div class="objectForm">
#{form @save(finalcharge?.id)}
	
	<div class="crudField crud_text">
		#{field 'vessel'}
		<label>Vessel : </label>
		<label>${finalcharge?.vessel?.name}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'voyage'}
		<label>Voyage : </label>
		<label>${finalcharge?.voyage}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'port'}
		<label>Port : </label>
		<label>${finalcharge?.port?.name}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'customer'}
		<label>Customer : </label>
		<label>${finalcharge?.customer?.name}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
        #{field 'ata'}
        <label>Actual Time Arrival : </label>
        <label>${finalcharge?.berthing?.ata?.format('yyyy-MM-dd')}</label>
        <br/>
        #{/field}
    </div>
    
    <div class="crudField crud_text">
        #{field 'atd'}
        <label>Actual Time Departure : </label>
        <label>${finalcharge?.departure?.atd?.format('yyyy-MM-dd')}</label>
        <br/>
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'actualTugIn'}
        <label>Actual Tug in duration :</label>
        <input type="text" name="${field.name}" 
            value="${finalcharge?.finalCharge?.actualTugIn}" class="${field.errorClass}" />
        #{/field}
    </div>
    
    <div class="crudField crud_text">
        #{field 'actualTugOut'}
        <label>Actual Tug out duration :</label>
        <input type="text" name="${field.name}" 
            value="${finalcharge?.finalCharge?.actualTugOut}" class="${field.errorClass}" />
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'cargo'}
        <label>Cargo Name :</label>
        <input type="text" name="${field.name}" 
            value="${finalcharge?.finalCharge?.cargo}" class="${field.errorClass}" />
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'cargoWeight'}
        <label>Cargo Weight :</label>
        <input type="text" name="${field.name}" 
            value="${finalcharge?.finalCharge?.cargoWeight}" class="${field.errorClass}" />
        #{/field}
    </div>
		
	<div class="crudField crud_text">
		#{field 'harbor'}
		<label>Harbor dues : </label>
		<label>${finalcharge?.finalCharge?.harbor}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'queue'}
		<label>Queue dues : </label>
		<label>${finalcharge?.finalCharge?.queue}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'pilot'}
		<label>Pilot dues : </label>
		<label>${finalcharge?.finalCharge?.pilot}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'tug'}
		<label>Tug dues : </label>
		<label>${finalcharge?.finalCharge?.tug}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'light'}
		<label>Light dues : </label>
		<label>${finalcharge?.finalCharge?.light}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'gnt'}
		<label>Government Tax : </label>
		<label>${finalcharge?.finalCharge?.gnt}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
        #{field 'additional'}
        <label>Additional Charges:</label>
        <input type="button" value="Add Row" onclick="addRow('dataTable')" />
		<input type="button" value="Delete Row" onclick="deleteRow('dataTable')" /><br />
		<div id="crudListTable">
			<table id="dataTable" border="0">
			<thead>
	        	<tr>
				  <th>Charges</th>
				  <th>Date</th>
				  <th>Cost</th>
				</tr>
	        </thead>
		        #{list items:finalcharge?.booking?.additional, as:'additional'}
				<tr>
					<td><input type="text" name='additional[${additional_index - 1}].name' value="${additional?.name}" class="${field.errorClass}" /></td>
					<td><input type="text" name='additional[${additional_index - 1}].date' value="${additional?.date?.format('yyyy-MM-dd')}" class="${field.errorClass}" /></td>
					<td><input type="text" name='additional[${additional_index - 1}].cost' value="${additional?.cost}" class="${field.errorClass}" /></td>
				</tr>
		        #{/list}
				#{else}
					#{list items:0..2, as:'i'}
					<tr>
						<td><input type="text" name='additional[${i}].name' value="${additional?.name}" class="${field.errorClass}" /></td>
						<td><input type="text" name='additional[${i}].date' value="${additional?.date?.format('yyyy-MM-dd')}" class="${field.errorClass}" /></td>
						<td><input type="text" name='additional[${i}].cost' value="${additional?.cost}" class="${field.errorClass}" /></td>
					</tr>
					#{/list}
				#{/else}
			</table>
	        #{/field} 
		</div>
    </div>
    
	<p class="crudButtons">
        <input type="submit" name="calculate" value="Calculate" />
		<input type="submit" name="save" value="Save" />
    </p>

#{/form}
</div>




