#{extends 'layout.html' /}

<div class="objectForm">
#{form @save(finalcharge?.id)}
	
	<p>
		#{field 'vessel'}
		<label>Vessel : </label>
		<label>${finalcharge?.vessel?.name}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'voyage'}
		<label>Voyage : </label>
		<label>${finalcharge?.voyage}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'port'}
		<label>Port : </label>
		<label>${finalcharge?.port?.name}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'customer'}
		<label>Customer : </label>
		<label>${finalcharge?.customer?.name}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
        #{field 'ata'}
        <label>Actual Time Arrival : </label>
        <label>${finalcharge?.berthing?.ata?.format('yyyy-MM-dd')}</label>
        <br/>
        #{/field}
    </p>
    
    <p>
        #{field 'atd'}
        <label>Actual Time Departure : </label>
        <label>${finalcharge?.departure?.atd?.format('yyyy-MM-dd')}</label>
        <br/>
        #{/field}
    </p>
	
	<p>
        #{field 'actualTugIn'}
        <label>Actual Tug in duration :</label>
        <input type="text" name="${field.name}" 
            value="${finalcharge?.finalCharge?.actualTugIn}" class="${field.errorClass}" />
        #{/field}
    </p>
    
    <p>
        #{field 'actualTugOut'}
        <label>Actual Tug out duration :</label>
        <input type="text" name="${field.name}" 
            value="${finalcharge?.finalCharge?.actualTugOut}" class="${field.errorClass}" />
        #{/field}
    </p>
	
	<p>
        #{field 'cargo'}
        <label>Cargo Name :</label>
        <input type="text" name="${field.name}" 
            value="${finalcharge?.finalCharge?.cargo}" class="${field.errorClass}" />
        #{/field}
    </p>
	
	<p>
        #{field 'cargoWeight'}
        <label>Cargo Weight :</label>
        <input type="text" name="${field.name}" 
            value="${finalcharge?.finalCharge?.cargoWeight}" class="${field.errorClass}" />
        #{/field}
    </p>
		
	<p>
		#{field 'harbor'}
		<label>Harbor dues : </label>
		<label>${finalcharge?.finalCharge?.harbor}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'queue'}
		<label>Queue dues : </label>
		<label>${finalcharge?.finalCharge?.queue}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'pilot'}
		<label>Pilot dues : </label>
		<label>${finalcharge?.finalCharge?.pilot}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'tug'}
		<label>Tug dues : </label>
		<label>${finalcharge?.finalCharge?.tug}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'light'}
		<label>Light dues : </label>
		<label>${finalcharge?.finalCharge?.light}</label>
		<br/>
		#{/field}
	</p>
	
	<p>
		#{field 'gnt'}
		<label>Government Tax : </label>
		<label>${finalcharge?.finalCharge?.gnt}</label>
		<br/>
		#{/field}
	</p>
    
	<p class="crudButtons">
        <input type="submit" name="calculate" value="Calculate" />
		<input type="submit" name="save" value="Save" />
    </p>

#{/form}
</div>




