#{extends 'layout.html' /}

<div class="objectForm">
#{form @save(departure?.id)}
	
	<div class="crudField crud_text">
		#{field 'vessel'}
		<label>Vessel : </label>
		<label>${departure?.vessel?.name}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'voyage'}
		<label>Voyage : </label>
		<label>${departure?.voyage}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'port'}
		<label>Port : </label>
		<label>${departure?.port?.name}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'customer'}
		<label>Customer : </label>
		<label>${departure?.customer?.name}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
        #{field 'ata'}
        <label>Actual Time Arrival : </label>
        <label>${departure?.berthing?.ata?.format('yyyy-MM-dd')}</label>
        <br/>
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'atd'}
        <label>Actual Time Departure :</label>
        <input type="text" name="${field.name}" 
            value="${departure?.departure?.atd?.format('yyyy-MM-dd')}" class="jdate" />
        #{/field}
    </div>
    
    <div class="crudField crud_text">
        #{field 'quay'}
        <label>Quay time:</label>
        <input type="text" name="${field.name}" 
            value="${departure?.departure?.quay}" class="${field.errorClass}" />
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'departTugOut'}
        <label>Estimate Tug out duration :</label>
        <input type="text" name="${field.name}" 
            value="${departure?.departure?.departTugOut}" class="${field.errorClass}" />
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'cargo'}
        <label>Cargo Name :</label>
        <input type="text" name="${field.name}" 
            value="${departure?.departure?.cargo}" class="${field.errorClass}" />
        #{/field}
    </div>
	
	<div class="crudField crud_text">
        #{field 'cargoWeight'}
        <label>Cargo Weight :</label>
        <input type="text" name="${field.name}" 
            value="${departure?.departure?.cargoWeight}" class="${field.errorClass}" />
        #{/field}
    </div>
		
	<div class="crudField crud_text">
		#{field 'harbor'}
		<label>Harbor dues : </label>
		<label>${departure?.departure?.harbor}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'queue'}
		<label>Quay dues : </label>
		<label>${departure?.departure?.queue}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'pilot'}
		<label>Pilot dues : </label>
		<label>${departure?.departure?.pilot}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'tug'}
		<label>Tug dues : </label>
		<label>${departure?.departure?.tug}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'light'}
		<label>Light dues : </label>
		<label>${departure?.departure?.light}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
		#{field 'gnt'}
		<label>Government Tax : </label>
		<label>${departure?.departure?.gnt}</label>
		<br/>
		#{/field}
	</div>
	
	<div class="crudField crud_text">
        #{field 'additional'}
        <label>Additional Charges:</label>
        <input id="addbutton" type="button" value="Add Row" />
        <input id="calculate" type="button" value="Calculate" />
		<div id="crudListTable">
			<table id="dataTable" border="0">
	        <thead>
	        	<tr>
					<th>Charges</th>
					<th>Date</th>
					<th>Cost</th>
				</tr>
	        </thead>	
		        #{list items:departure?.booking?.additional, as:'additional'}
				<tr class="item-row">
					<td><div class="delete-wpr"><input type="text" name='additional[${additional_index - 1}].name' value="${additional?.name}" class="${field.errorClass}" /><a href="javascript:;" class="delete">x</a></td>
					<td><input type="text" name='additional[${additional_index - 1}].date' value="${additional?.date?.format('yyyy-MM-dd')}" class="${field.errorClass}" /></td>
					<td><input type="text" name='additional[${additional_index - 1}].cost' value="${additional?.cost}" class="add-cost" /></td>
				</tr>
		        #{/list}
				#{else}
					#{list items:0..0, as:'i'}
					<tr class="item-row">
						<td><div class="delete-wpr"><input type="text" name='additional[${i}].name' value="${additional?.name}" class="add-name" /><a href="javascript:;" class="delete">x</a></td>
						<td><input type="text" name='additional[${i}].date' value="${additional?.date?.format('yyyy-MM-dd')}" class="add-date" /></td>
						<td><input type="text" name='additional[${i}].cost' value="${additional?.cost}" class="add-cost" /></td>
					</tr>
					#{/list}
				#{/else}
				<tr>
		            <td colspan="1" class="blank"></td>
		            <td colspan="1" class="total-line">Subtotal</td>
		            <td class="total-value"><div id="subtotal">0</div></td>
		        </tr>
			</table>
	        #{/field} 
		</div>
    </div>
    
	<p class="crudButtons">
        <input type="submit" name="calculate" value="Calculate" />
		<input type="submit" name="save" value="Save" />
    </p>

#{/form}
</div>

<!-- JS -->
<script type="text/javascript" src="@{'/public/javascripts/addtablerow-jq-ops.js'}"></script>




