#{extends 'CRUD/layout.html' /}

<div id="crudList">
	
	<h1>Departure</h1>
	<table id="crudList">
		<thead>
			<th>Booking Number</th>
			<th>Vessel</th>
			<th>Voyage</th>
			<th>Customer</th>
		</thead>
		#{list items:departures, as:'departure'}
		    <tr>
		        <td><a href="@{Departures.form(departure.id)}">${departure.id}</a></td>
		        <td><a href="@{Departures.form(departure.id)}">${departure.vessel.name}</a></td>
		        <td><a href="@{Departures.form(departure.id)}">${departure.voyage}</a></td>
		        <td><a href="@{Departures.form(departure.id)}">${departure.customer.name}</a></td>
		    </tr>
		#{/list}
	</table>

</div>