<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}" lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jdMenu.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jdMenu.slate.css'}" />
    </head>
	<body id="crud">
		
		<div id="crudHeader">
			<h1><a href="@{CRUD.index()}">Agency System</a></h1>
		</div>
		
		<div>
		<ul class="jd_menu">
			<li>Report
			<ul>
				<li><a href="@{Reports.upcoming()}">Upcoming Vessel</a></li>
				<li><a href="@{Reports.monthly()}">Monthly Report</a></li>		
			</ul>
			</li>
			<li><a href="@{Operationals.index()}">Operational</a></li>
			<li><a href="/crud">Master Data</a>
			<ul>
				<li><a href="/crud/ports">Ports</a></li>
				<li><a href="/crud/vessels">Vessels</a></li>
				<li><a href="/crud/owners">Owners</a></li>
				<li><a href="/crud/agents">Agents</a></li>
				<li><a href="/crud/customers">Customers</a></li>
			</ul>
			</li>
		</ul>
		</div>
		
		#{if false}
			<div id="crudBreadcrumb">
				#{crud.navigation /}
			</div>
		#{/if}

		#{if flash.success}
			<div class="crudFlash flashSuccess">
				${flash.success}
			</div>
		#{/if}
		#{if flash.error || error}
			<div class="crudFlash flashError">
				${error ?: flash.error}
			</div>
		#{/if}
		
		<div id="crudContent">
			#{doLayout /}
		</div>
		
		<div id="crudFooter">
			Agency System @ PT. Ocean Global Shipping
		</div>
		
		<!-- JS -->
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jdMenu/jquery.bgiframe.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jdMenu/jquery.dimensions.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jdMenu/jquery.jdMenu.js'}"></script>
		<script type="text/javascript">

			// Initialization, you can leave this here or move this somewhere else

			$(function(){

				$('ul.jd_menu').jdMenu({	onShow: loadMenu

											//onHideCheck: onHideCheckMenu,

											//onHide: onHideMenu, 

											//onClick: onClickMenu, 

											//onAnimate: onAnimate

											});

				$('ul.jd_menu_vertical').jdMenu({onShow: loadMenu, onHide: unloadMenu, offset: 1, onAnimate: onAnimate});

			});



			function onAnimate(show) {

				//$(this).fadeIn('slow').show();

				if (show) {

					$(this)

						.css('visibility', 'hidden').show()

							.css('width', $(this).innerWidth())

						.hide().css('visibility', 'visible')

					.fadeIn('normal');

				} else {

					$(this).fadeOut('fast');

				}

			}



			var MENU_COUNTER = 1;

			function loadMenu() {

				if (this.id == 'dynamicMenu') {

					$('> ul > li', this).remove();

			

					var ul = $('<ul></ul>');

					var t = MENU_COUNTER + 10;

					for (; MENU_COUNTER < t; MENU_COUNTER++) {

						$('> ul', this).append('<li>Item ' + MENU_COUNTER + '</li>');

					}

				}

			}



			function unloadMenu() {

				if (MENU_COUNTER >= 30) {

					MENU_COUNTER = 1;

				}

			}



			// We're passed a UL

			function onHideCheckMenu() {

				return !$(this).parent().is('.LOCKED');

			}



			// We're passed a LI

			function onClickMenu() {

				$(this).toggleClass('LOCKED');

				return true;

			}

		</script>
	</body>
</html>
