#{extends 'layout.html' /}

<div id="crudList">
	<div id="crudListTable">
		<h3>List Vessel Operational</h3>
		<table>
			<thead>
			<tr>
				<th>No.</th>
				<th>Vessel & Voyage</th>
				<th>Port</th>
				<th>Status</th>
				<th>Arrival Date</th>
				<th>Departure Date</th>
				<th>Owner</th>
				<th>Cargo</th>
				<th>Cargo Weight</th>
				<th>Sub Agent</th>
			</tr>
			</thead>
			#{list items:operations, as:'ops'}
			    <tr>
			    	#{if ops.status == "Prospect" || ops.status == "Prospect Rejected"}
			        	<td><a href="@{Calculators.form(ops.id)}">${ops?.id}</a></td>
			        #{/if}
			        #{if ops.status == "New" || ops.status == "Prospect Approved" || ops.status == "Booking Rejected"}
			        	<td><a href="@{Bookings.form(ops.id)}">${ops?.id}</a></td>
			        #{/if}
			        #{if ops.status == "Berthing" || ops.status == "Booking Approved" || ops.status == "Berthing Rejected"}
			        	<td><a href="@{Berthings.form(ops.id)}">${ops?.id}</a></td>
			        #{/if}
			        #{if ops.status == "Departure" || ops.status == "Berthing Approved" || ops.status == "Departure Rejected"}
			        	<td><a href="@{Departures.form(ops.id)}">${ops?.id}</a></td>
			        #{/if}
			        #{if ops.status == "Final" || ops.status == "Departure Approved" || ops.status == "Final Rejected"}
			        	<td><a href="@{FinalCharges.form(ops.id)}">${ops?.id}</a></td>
			        #{/if}
			        #{if ops.status == "Final Approved"}
			        	<td>${ops?.id}</a></td>
			        #{/if}
			        <td>${ops?.vessel?.name} ${ops?.voyage}</td>
			        <td>${ops?.port?.name}</td>
			        <td>${ops?.status}</td>
			        #{if ops.status == "Prospect"}
			        	<td>${ops?.booking?.eta?.format('yyyy-MM-dd')}</td>
			        	<td>${ops?.booking?.etd?.format('yyyy-MM-dd')}</td>
			        #{/if}
			        #{if ops.status == "New" || ops.status == "Prospect Approved" || ops.status == "Booking Rejected"}
			        	<td>${ops?.booking?.eta?.format('yyyy-MM-dd')}</td>
			        	<td>${ops?.booking?.etd?.format('yyyy-MM-dd')}</td>
			        #{/if}
			        #{if ops.status == "Berthing" || ops.status == "Booking Approved" || ops.status == "Berthing Rejected"}
			        	<td>${ops?.berthing?.ata?.format('yyyy-MM-dd')}</td>
			        	<td>${ops?.berthing?.etd?.format('yyyy-MM-dd')}</td>
			        #{/if}
			        #{if ops.status == "Departure" || ops.status == "Berthing Approved" || ops.status == "Departure Rejected"}
			        	<td>${ops?.berthing?.ata?.format('yyyy-MM-dd')}</td>
			        	<td>${ops?.departure?.atd?.format('yyyy-MM-dd')}</td>
			        #{/if}
			        #{if ops.status == "Final" || ops.status == "Departure Approved" || ops.status == "Final Rejected"}
			        	<td>${ops?.berthing?.ata?.format('yyyy-MM-dd')}</td>
			        	<td>${ops?.departure?.atd?.format('yyyy-MM-dd')}</td>
			        #{/if}
			        #{if ops.status == "Final Approved"}
			        	<td>${ops?.berthing?.ata?.format('yyyy-MM-dd')}</td>
			        	<td>${ops?.departure?.atd?.format('yyyy-MM-dd')}</td>
			        #{/if}
			        <td>${ops?.vessel?.owner?.name}</td>
			        #{if ops.status == "Prospect"}
			        	<td>${ops?.booking?.cargo}</td>
			        	<td>${ops?.booking?.cargoWeight}</td>
			        #{/if}
			        #{if ops.status == "New" || ops.status == "Booking Rejected"}
			        	<td>${ops?.booking?.cargo}</td>
			        	<td>${ops?.booking?.cargoWeight}</td>
			        #{/if}
			        #{if ops.status == "Berthing" || ops.status == "Booking Approved" || ops.status == "Berthing Rejected"}
			        	<td>${ops?.berthing?.cargo}</td>
			        	<td>${ops?.berthing?.cargoWeight}</td>
			        #{/if}
			        #{if ops.status == "Departure" || ops.status == "Berthing Approved" || ops.status == "Departure Rejected"}
			        	<td>${ops?.departure?.cargo}</td>
			        	<td>${ops?.departure?.cargoWeight}</td>
			        #{/if}
			        #{if ops.status == "Final" || ops.status == "Departure Approved" || ops.status == "Final Rejected"}
			        	<td>${ops?.finalCharge?.cargo}</td>
			        	<td>${ops?.finalCharge?.cargoWeight}</td>
			        #{/if}
			        <td>${ops?.subAgent?.name}</td>
			    </tr>
			#{/list}
		</table>
	</div>
</div>