#{extends 'layout.html' /}

<div id="crudList">
		
	<div id="crudListTable">
		<h3>Booking Vessel</h3>
		<table>
			<thead>
			<tr>
				<th>Booking Number</th>
				<th>Vessel</th>
				<th>Voyage</th>
				<th>ETA</th>
				<th>ETD</th>
			</tr>
			</thead>
			#{list items:bookings, as:'booking'}
			    <tr>
			        <td><a href="@{Bookings.form(booking.id)}">${booking.id}</a></td>
			        <td>${booking.vessel.name}</td>
			        <td>${booking.voyage}</td>
			        <td>${booking.booking.eta.format('yyyy-MM-dd')}</td>
			        <td>${booking.booking.etd.format('yyyy-MM-dd')}</td>
			    </tr>
			#{/list}
		</table>
		
	
		
		<h3>Upcoming Vessel</h3>
		<table>
			<thead>
			<tr>
				<th>Booking Number</th>
				<th>Vessel</th>
				<th>Voyage</th>
				<th>ETA</th>
				<th>ETD</th>
			</tr>
			</thead>
			#{list items:berthings, as:'berthing'}
			    <tr>
			        <td><a href="@{Berthings.form(berthing.id)}">${berthing.id}</a></td>
			        <td>${berthing.vessel.name}</td>
			        <td>${berthing.voyage}</td>
			        <td>${berthing.booking.eta.format('yyyy-MM-dd')}</td>
			        <td>${berthing.booking.etd.format('yyyy-MM-dd')}</td>
			    </tr>
			#{/list}
		</table>
		
		<h3>Berthing Vessel</h3>
		<table>
			<thead>
			<tr>
			<th>Booking Number</th>
				<th>Vessel</th>
				<th>Voyage</th>
				<th>ATA</th>
				<th>ETD</th>
			</tr>				
			</thead>
			#{list items:departures, as:'departure'}
			    <tr>
			        <td><a href="@{Departures.form(departure.id)}">${departure.id}</a></td>
			        <td>${departure.vessel.name}</td>
			        <td>${departure.voyage}</td>
			        <td>${departure.berthing.ata.format('yyyy-MM-dd')}</td>
			        <td>${departure.booking.etd.format('yyyy-MM-dd')}</td>
			    </tr>
			#{/list}
		</table>
		
		<h3>Departured Vessel</h3>	
		<table>
			<thead>
			<tr>
				<th>Booking Number</th>
				<th>Vessel</th>
				<th>Voyage</th>
				<th>ATA</th>
				<th>ATD</th>
			</tr>
			</thead>
			#{list items:finals, as:'finalcharge'}
			    <tr>
			        <td><a href="@{FinalCharges.form(finalcharge.id)}">${finalcharge.id}</a></td>
			        <td>${finalcharge.vessel.name}</td>
			        <td>${finalcharge.voyage}</td>
			        <td>${finalcharge.berthing.ata.format('yyyy-MM-dd')}</td>
			        <td>${finalcharge.departure.atd.format('yyyy-MM-dd')}</td>
			    </tr>
			#{/list}
		</table>
	</div>
</div>